<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

 	<bean id="credenciales" class="es.oyssen.mrm.negocio.vo.Credenciales" scope="session">
		<aop:scoped-proxy/>
	</bean>

	<bean id="daoBase" class="es.oyssen.mrm.negocio.dao.DAOBase">
		<property name="dataSource" ref="dataSource" />
		<property name="credenciales" ref="credenciales" />
	</bean>
	
	<bean id="daoGrupos" class="es.oyssen.mrm.negocio.dao.mysql.MySqlDAOGruposImpl" parent="daoBase" />
	
	<bean id="daoGrupoPermisos" class="es.oyssen.mrm.negocio.dao.mysql.MySqlDAOGrupoPermisosImpl" parent="daoBase" />
	
	<bean id="daoUsuariosPermisos" class="es.oyssen.mrm.negocio.dao.mysql.MySqlDAOUsuariosPermisosImpl" parent="daoBase" />
	
	<bean id="daoPermisos" class="es.oyssen.mrm.negocio.dao.mysql.MySqlDAOPermisosImpl" parent="daoBase" />
	
	<bean id="daoUsuarios" class="es.oyssen.mrm.negocio.dao.mysql.MySqlDAOUsuariosImpl" parent="daoBase" />
	
	<bean id="daoAsignaturas" class="es.oyssen.mrm.negocio.dao.mysql.MySqlDAOAsignaturasImpl" parent="daoBase" />
	
	<bean id="daoPortafolios" class="es.oyssen.mrm.negocio.dao.mysql.MySqlDAOPortafoliosImpl" parent="daoBase" />
	
	<bean id="daoProfesoresAsociados" class="es.oyssen.mrm.negocio.dao.mysql.MySqlDAOProfesoresAsociadosImpl" parent="daoBase" />
	
	<bean id="daoEstanciasUnidadClinica" class="es.oyssen.mrm.negocio.dao.mysql.MySqlDAOEstanciasUnidadClinicaImpl" parent="daoBase" />
	
	<bean id="daoTrabajosDeCampo" class="es.oyssen.mrm.negocio.dao.mysql.MySqlDAOTrabajosDeCampoImpl" parent="daoBase" />
	
	<bean id="daoSeminariosRealizados" class="es.oyssen.mrm.negocio.dao.mysql.MySqlDAOSeminariosRealizadosImpl" parent="daoBase" />
		
	<bean id="daoDiariosReflexivos" class="es.oyssen.mrm.negocio.dao.mysql.MySqlDAODiariosReflexivosImpl" parent="daoBase" />
	
	<bean id="daoAnexos" class="es.oyssen.mrm.negocio.dao.mysql.MySqlDAOAnexosImpl" parent="daoBase" />
	
	<bean id="daoCasosClinicos" class="es.oyssen.mrm.negocio.dao.mysql.MySqlDAOCasosClinicosImpl" parent="daoBase" />
	
	<bean id="daoPuntuacionCriterios" class="es.oyssen.mrm.negocio.dao.mysql.MySqlDAOPuntuacionCriteriosImpl" parent="daoBase" />
	
	<bean id="daoCriteriosRubricas" class="es.oyssen.mrm.negocio.dao.mysql.MySqlDAOCriteriosRubricasImpl" parent="daoBase" />
	
	<bean id="daoGruposCriteriosRubricas" class="es.oyssen.mrm.negocio.dao.mysql.MySqlDAOGruposCriteriosRubricasImpl" parent="daoBase" />
	
	<bean id="daoRubricas" class="es.oyssen.mrm.negocio.dao.mysql.MySqlDAORubricasImpl" parent="daoBase" />
	
	<bean id="daoSeminariosAsignatura" class="es.oyssen.mrm.negocio.dao.mysql.MySqlDAOSeminariosAsignaturaImpl" parent="daoBase" />
	
	<bean id="daoTrabajosDeCampoInfo" class="es.oyssen.mrm.negocio.dao.mysql.MySqlDAOTrabajosDeCampoInfoImpl" parent="daoBase" />
	
	<bean id="daoErroresLog" class="es.oyssen.mrm.negocio.dao.mysql.MySqlDAOErroresLogImpl" parent="daoBase" />
	
	
</beans>

