<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">
	
    <bean id="txManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"/>
    </bean>
    
    <tx:advice id="txAdvice" transaction-manager="txManager">
        <tx:attributes>        
         	<tx:method name="find*" read-only="false" rollback-for="ServiceException"/>
         	<tx:method name="save*" rollback-for="es.oyssen.mrm.negocio.exceptions.ServiceException" />
         	<tx:method name="update*" rollback-for="es.oyssen.mrm.negocio.exceptions.ServiceException" />
         	<tx:method name="delete*" rollback-for="es.oyssen.mrm.negocio.exceptions.ServiceException" />
         	<tx:method name="process*" rollback-for="es.oyssen.mrm.negocio.exceptions.ServiceException" />
        </tx:attributes>
    </tx:advice>

    <aop:config>
        <aop:advisor pointcut="execution(* *..ComercialesService.*(..))" advice-ref="txAdvice"/>       
        <aop:advisor pointcut="execution(* *..LeadsService.*(..))" advice-ref="txAdvice"/>
    </aop:config>

	 

	<bean id="comercialesService" class="es.oyssen.mrm.negocio.services.impl.ComercialesServiceImpl">		
		<property name="daoComerciales" ref="daoComerciales" />
		<property name="daoLeads" ref="daoLeads" />
		<property name="daoDistribuidores" ref="daoDistribuidores" />
	</bean>


	<bean id="responsablesService" class="es.oyssen.mrm.negocio.services.impl.ResponsablesServiceImpl">		
		<property name="daoResponsables" ref="daoResponsables" />
		<property name="daoResponsablesComerciales" ref="daoResponsablesComerciales" />
		<property name="daoLeads" ref="daoLeads" />
	</bean>
	
	
	<bean id="distribuidoresService" class="es.oyssen.mrm.negocio.services.impl.DistribuidoresServiceImpl">		
		<property name="daoDistribuidores" ref="daoDistribuidores" />
		<property name="daoContactosDistribuidor" ref="daoContactosDistribuidor" />
		<property name="daoLeads" ref="daoLeads" />
	</bean>	
	
	
	<bean id="contactosDistribuidorService" class="es.oyssen.mrm.negocio.services.impl.ContactosDistribuidorServiceImpl">		
		<property name="daoContactosDistribuidor" ref="daoContactosDistribuidor" />
	</bean>	

	<bean id="canalesService" class="es.oyssen.mrm.negocio.services.impl.CanalesServiceImpl">		
		<property name="daoCanales" ref="daoCanales" />
		<property name="daoContactosCanal" ref="daoContactosCanal" />
	</bean>	

	<bean id="contactosCanalService" class="es.oyssen.mrm.negocio.services.impl.ContactosCanalServiceImpl">		
		<property name="daoContactosCanal" ref="daoContactosCanal" />
	</bean>	
	
	<bean id="ficherosService" class="es.oyssen.mrm.negocio.services.impl.FicherosServiceImpl">		
		<property name="daoFicheros" ref="daoFicheros" />
	</bean>		
	
	<bean id="serviciosService" class="es.oyssen.mrm.negocio.services.impl.ServiciosServiceImpl">		
		<property name="daoServicios" ref="daoServicios" />
		<property name="daoFicheros" ref="daoFicheros" />
		<property name="daoLeads" ref="daoLeads" />		
	</bean>		
	

	<bean id="leadsService" class="es.oyssen.mrm.negocio.services.impl.LeadsServiceImpl">		
		<property name="daoComerciales" ref="daoComerciales" />
		<property name="daoLeads" ref="daoLeads" />
		<property name="daoResponsables" ref="daoResponsables" />
		<property name="daoResponsablesComerciales" ref="daoResponsablesComerciales" />
		<property name="daoEmpresas" ref="daoEmpresas" />
		<property name="daoEstado" ref="daoEstados" />
		<property name="daoServicios" ref="daoServicios" />
		<property name="daoDistribuidores" ref="daoDistribuidores" />		
		<property name="daoMarketingActivities" ref="daoMarketingActivities" />
		<property name="daoLeadActionsHistory" ref="daoLeadActionsHistory" />
		<property name="daoCanales" ref="daoCanales" />
		<property name="daoLeadsHistory" ref="daoLeadsHistory" />		
	</bean>

	<bean id="empresasService" class="es.oyssen.mrm.negocio.services.impl.EmpresasServiceImpl">
		<property name="daoEmpresas" ref="daoEmpresas" />
		<property name="daoLeads" ref="daoLeads" />
	</bean>
	
	<bean id="leadsHistoryService" class="es.oyssen.mrm.negocio.services.impl.LeadsHistoryServiceImpl">
		<property name="daoLeadsHistory" ref="daoLeadsHistory" />
	</bean>
	
	<bean id="gruposService" class="es.oyssen.mrm.negocio.services.impl.GruposServiceImpl">
		<property name="daoGrupos" ref="daoGrupos" />
	</bean>
	
	<bean id="permisosGrupoService" class="es.oyssen.mrm.negocio.services.impl.PermisosGrupoServiceImpl">
		<property name="daoPermisosGrupo" ref="daoPermisosGrupo" />
	</bean>
	
	<bean id="permisosService" class="es.oyssen.mrm.negocio.services.impl.PermisosServiceImpl">
		<property name="daoPermisos" ref="daoPermisos" />
	</bean>
	
	<bean id="usuariosService" class="es.oyssen.mrm.negocio.services.impl.UsuariosServiceImpl">
		<property name="daoUsuarios" ref="daoUsuarios" />
	</bean>
	
	<bean id="asignaturasService" class="es.oyssen.mrm.negocio.services.impl.AsignaturasServiceImpl">		
		<property name="daoAsignaturas" ref="daoAsignaturas" />
	</bean>
	
	<bean id="portafoliosService" class="es.oyssen.mrm.negocio.services.impl.PortafoliosServiceImpl">		
		<property name="daoPortafolios" ref="daoPortafolios" />
	</bean>	
	
	<bean id="profesoresAsociadosService" class="es.oyssen.mrm.negocio.services.impl.ProfesoresAsociadosServiceImpl">		
		<property name="daoProfesoresAsociados" ref="daoProfesoresAsociados" />
	</bean>	
	
	<bean id="estanciasUnidadClinicaService" class="es.oyssen.mrm.negocio.services.impl.EstanciasUnidadClinicaServiceImpl">		
		<property name="daoEstanciasUnidadClinica" ref="daoEstanciasUnidadClinica" />
	</bean>	
	
	<bean id="trabajosDeCampoService" class="es.oyssen.mrm.negocio.services.impl.TrabajosDeCampoServiceImpl">		
		<property name="daoTrabajosDeCampoService" ref="daoTrabajosDeCampoService" />
	</bean>	
	
	<bean id="seminariosRealizadosService" class="es.oyssen.mrm.negocio.services.impl.SeminariosRealizadosServiceImpl">		
		<property name="daoSeminariosRealizados" ref="daoSeminariosRealizados" />
	</bean>	
	
	<bean id="serviciosUsuarioService" class="es.oyssen.mrm.negocio.services.impl.ServiciosUsuarioServiceImpl">
		<property name="daoServiciosUsuario" ref="daoServiciosUsuario" />
	</bean>
	
	<bean id="logsUsuarioService" class="es.oyssen.mrm.negocio.services.impl.LogsUsuarioServiceImpl">
		<property name="daoLogsUsuario" ref="daoLogsUsuario" />
	</bean>

	<bean id="ficherosLeadService" class="es.oyssen.mrm.negocio.services.impl.FicherosLeadServiceImpl">		
		<property name="daoFicherosLead" ref="daoFicherosLead" />
	</bean>	
	
	<bean id="ficherosDiariosReflexivos" class="es.oyssen.mrm.negocio.services.impl.DiariosReflexivosServiceImpl">		
		<property name="daoDiariosReflexivos" ref="daoDiariosReflexivos" />
	</bean>	

</beans>
