<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">
	
    <bean id="txManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"/>
    </bean>
    
    <tx:advice id="txAdvice" transaction-manager="txManager">
        <tx:attributes>        
         	<tx:method name="find*" read-only="false" rollback-for="ServiceException"/>
         	<tx:method name="save*" rollback-for="es.oyssen.mrm.negocio.exceptions.ServiceException" />
         	<tx:method name="update*" rollback-for="es.oyssen.mrm.negocio.exceptions.ServiceException" />
         	<tx:method name="delete*" rollback-for="es.oyssen.mrm.negocio.exceptions.ServiceException" />
         	<tx:method name="process*" rollback-for="es.oyssen.mrm.negocio.exceptions.ServiceException" />
        </tx:attributes>
    </tx:advice>

    <aop:config>
        <aop:advisor pointcut="execution(* *..ComercialesService.*(..))" advice-ref="txAdvice"/>       
        <aop:advisor pointcut="execution(* *..LeadsService.*(..))" advice-ref="txAdvice"/>
    </aop:config>
	
	<bean id="gruposService" class="es.oyssen.mrm.negocio.services.impl.GruposServiceImpl">
		<property name="daoGrupos" ref="daoGrupos" />
	</bean>
	
	<bean id="grupoPermisosService" class="es.oyssen.mrm.negocio.services.impl.GrupoPermisosServiceImpl">
		<property name="daoGrupoPermisos" ref="daoGrupoPermisos" />
	</bean>
	
	<bean id="usuariosPermisosService" class="es.oyssen.mrm.negocio.services.impl.UsuariosPermisosServiceImpl">
		<property name="daoUsuariosPermisos" ref="daoUsuariosPermisos" />
	</bean>
	
	<bean id="permisosService" class="es.oyssen.mrm.negocio.services.impl.PermisosServiceImpl">
		<property name="daoPermisos" ref="daoPermisos" />
	</bean>
	
	<bean id="usuariosService" class="es.oyssen.mrm.negocio.services.impl.UsuariosServiceImpl">
		<property name="daoUsuarios" ref="daoUsuarios" />
	</bean>
	
	<bean id="asignaturasService" class="es.oyssen.mrm.negocio.services.impl.AsignaturasServiceImpl">		
		<property name="daoAsignaturas" ref="daoAsignaturas" />
	</bean>
	
	<bean id="portafoliosService" class="es.oyssen.mrm.negocio.services.impl.PortafoliosServiceImpl">		
		<property name="daoPortafolios" ref="daoPortafolios" />
	</bean>	
	
	<bean id="profesoresAsociadosService" class="es.oyssen.mrm.negocio.services.impl.ProfesoresAsociadosServiceImpl">		
		<property name="daoProfesoresAsociados" ref="daoProfesoresAsociados" />
	</bean>	
	
	<bean id="estanciasUnidadClinicaService" class="es.oyssen.mrm.negocio.services.impl.EstanciasUnidadClinicaServiceImpl">		
		<property name="daoEstanciasUnidadClinica" ref="daoEstanciasUnidadClinica" />
	</bean>	
	
	<bean id="trabajosDeCampoService" class="es.oyssen.mrm.negocio.services.impl.TrabajosDeCampoServiceImpl">		
		<property name="daoTrabajosDeCampo" ref="daoTrabajosDeCampo" />
	</bean>	
	
	<bean id="seminariosRealizadosService" class="es.oyssen.mrm.negocio.services.impl.SeminariosRealizadosServiceImpl">		
		<property name="daoSeminariosRealizados" ref="daoSeminariosRealizados" />
	</bean>
	
	<bean id="diariosReflexivosService" class="es.oyssen.mrm.negocio.services.impl.DiariosReflexivosServiceImpl">		
		<property name="daoDiariosReflexivos" ref="daoDiariosReflexivos" />
	</bean>	
	
	<bean id="anexosService" class="es.oyssen.mrm.negocio.services.impl.AnexosServiceImpl">		
		<property name="daoAnexos" ref="daoAnexos" />
	</bean>	
	
	<bean id="casosClinicosService" class="es.oyssen.mrm.negocio.services.impl.CasosClinicosServiceImpl">		
		<property name="daoCasosClinicos" ref="daoCasosClinicos" />
	</bean>	
	
	<bean id="puntuacionCriteriosService" class="es.oyssen.mrm.negocio.services.impl.PuntuacionCriteriosServiceImpl">		
		<property name="daoPuntuacionCriterios" ref="daoPuntuacionCriterios" />
	</bean>	
	
	<bean id="criteriosRubricasService" class="es.oyssen.mrm.negocio.services.impl.CriteriosRubricasServiceImpl">		
		<property name="daoCriteriosRubricas" ref="daoCriteriosRubricas" />
	</bean>	
	
	<bean id="gruposCriteriosRubricasService" class="es.oyssen.mrm.negocio.services.impl.GruposCriteriosRubricasServiceImpl">		
		<property name="daoGruposCriteriosRubricas" ref="daoGruposCriteriosRubricas" />
	</bean>	
	
	<bean id="rubricasService" class="es.oyssen.mrm.negocio.services.impl.RubricasServiceImpl">		
		<property name="daoRubricas" ref="daoRubricas" />
	</bean>	
	
	<bean id="seminariosAsignaturaService" class="es.oyssen.mrm.negocio.services.impl.SeminariosAsignaturaServiceImpl">		
		<property name="daoSeminariosAsignatura" ref="daoSeminariosAsignatura" />
	</bean>	
	
	<bean id="trabajosDeCampoInfoService" class="es.oyssen.mrm.negocio.services.impl.TrabajosDeCampoInfoServiceImpl">		
		<property name="daoTrabajosDeCampoInfo" ref="daoTrabajosDeCampoInfo" />
	</bean>
	
	<bean id="erroresLogService" class="es.oyssen.mrm.negocio.services.impl.ErroresLogServiceImpl">		
		<property name="daoErroresLog" ref="daoErroresLog" />
	</bean>
	
</beans>
